@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 65px 120px;
}

.nav-items-container {
    display: flex;
    gap: 34px;
    list-style: none;
}