@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');

/* Shared styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

}

:root {
    --btn-color: #E02C6D;
    --btn-text: white;
    --primary-text-color: #3A3A3A;
}







.description-text {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}


/* nav styles */

.first-logo {
    color: var(--primary-text-color);
    font-size: 1.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 65px 120px;
}

.nav-items-container {
    display: flex;
    gap: 34px;
    list-style: none;
}

/* start-section styles */



.start-section {
    display: flex;
    padding: 0.5rem 7.5rem;
    gap: 13rem;
}

.start-section-left {
    margin-top: 2.5rem;

}


.star-title {
    color: var(--primary-text-color);
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
}

.description-text {
    padding: 0.8rem 0;
}


.icon-adjust {
    width: 24px;
    height: 24px;
}

.class-for-flex-btn {
    display: flex;
    background-color: var(--btn-color);
    padding: 0.9rem 1.5rem;
    color: var(--btn-text);
    width: 10rem;
    border-radius: 2.5625rem;
    justify-content: space-between;



}

.btn-text {
    font-size: 1rem;
    font-weight: 700;
}

.first-section-img-container {
    background-image: url(./images/Circle-design.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Brand styles section  */


.brand-img-container {
    display: flex;
    justify-content: center;
    gap: 3.7rem;
    margin-top: 5rem;
    Border: 1px solid;
    Border-image: linear-gradient(to right, transparent, rgba(128, 128, 128, 0.438), transparent);
    Border-left: 0;
    Border-right: 0;
    Border-image-slice: 1;
    padding: 2.5rem 0;

}

/* Popular Collection */


.section-title {
    color: var(--primary-text-color);
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 4.375rem;
    text-align: center;
    margin-top: 6rem;
}

/* BOX styles */

.collection-box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 1.8rem;
    width: 40%; */
    justify-items: center;
    padding: 0 18rem;

}



.box {
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem 0.90rem;
    margin-bottom: 2.5rem;
}



.box-t {
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding-top: 0.7rem;
}

.box-money {

    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 2.25rem */
}

.rating {
    color: #5E6366;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.375rem;
    /* 157.143% */
    letter-spacing: 0.00625rem;
    padding-left: 0.2rem;
}

.reviews {
    display: flex;
    list-style: none;
}



.box-img {
    width: 18.75rem;
    height: 16rem;

}



.review-text {
    color: var(--gray-50, #787885);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    /* 1.25125rem */
    letter-spacing: 0.01575rem;
    margin-bottom: 0.8rem;

}

.see-more {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-right: 19.5rem;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}









@media screen and (max-width:576px) {

    * {}

    .see-more {
        margin: 0;
        padding: 0 2rem;
    }

    nav {
        flex-direction: column;
        margin: 0;
    }

    .nav-items-container {
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;

    }

    .start-section {
        flex-direction: column-reverse;

        padding: 0 2rem;
    }

    .collection-box-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }

    .brand-img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 2rem;
    }

    img {
        width: 90%;
    }

    .start-section-left {
        padding: 0;
    }










}